@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
*{
    transition: all 300ms ease;
}
html{
  scroll-behavior: smooth;
}
body{
  background: #222222;
  color: white;
  font-family: "Ubuntu", sans-serif; 
}
nav{
  transition: all 500ms ease;
}
a{
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}
.container{
  @apply max-w-7xl
}
button{
  background-color: #ff3c83;
  border-radius: 100px;
}
button:hover{
  background-color: #dd1a61;
}